<h1 class="container" style='padding-left:300px;'>User Sign Up for Restaurant Newsletter</h1>
<div class="container" style='width:30%;' >
  <form name="userSignUpForm" novalidate>
    <div class="form-group"  width='20px'>
      <input type="text" class="form-control" placeholder="First Name" name='fName' ng-model='userSignUpCtrl.user.firstName' required minlength='4' maxlength='10'><br>
      <span ng-if='(userSignUpForm.fName.$error.minlength||userSignUpForm.fName.$error.maxlength ) && userSignUpForm.fName.$touched'> First name must meet conditions [ min characters is 4 and max is 10 ] </span>
      <input type="text" class="form-control" placeholder="Last Name" name='lName' ng-model='userSignUpCtrl.user.lastName' required minlength='4' maxlength='10'>
      <span ng-if='(userSignUpForm.lName.$error.minlength||userSignUpForm.lName.$error.maxlength ) && userSignUpForm.lName.$touched'> Last name must meet conditions [ min characters is 4 and max is 10 ] </span>
    </div>
    <div class="form-group">
      <input type="email" class="form-control" name='eMail' placeholder="Email" ng-model='userSignUpCtrl.user.eMail' required>
      <span ng-if="userSignUpForm.eMail.$invalid && userSignUpForm.eMail.$touched">
            Must be a valid email address: handle@domain format</span>
    </div>
    <div class="form-group">
      <input type="phone" class="form-control" pattern="(\d{3})-(\d{3})-(\d{4})" name='phone' placeholder="Phone ###-###-####" ng-model='userSignUpCtrl.user.pNumber' required>
      <span ng-if="userSignUpForm.phone.$invalid && userSignUpForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Favorite dish" ng-model='userSignUpCtrl.user.favDish' required>
      <p ng-if='userSignUpCtrl.favFound'>No such menu number exists</p>
    </div>
    <button type="submit" class="btn btn-primary" ng-click='userSignUpCtrl.validateUser()'>Submit</button>
  </form>
 </div>
