<div ng-if='!myInfoCtrl.user'>
<h4>Not Signed Up Yet.
<a ui-sref="public.usersignup"><button >Sign up Now!</button></a></h4>
</div>

<div class="container" ng-if='myInfoCtrl.user'>
  <label>{{myInfoCtrl.user.firstName}}</label><br>
  <label>{{myInfoCtrl.user.lastName}}</label><br>
  <label>{{myInfoCtrl.user.eMail}}</label><br>
  <label>{{myInfoCtrl.user.pNumber}}</label><br>
  <!-- <label>{{myInfoCtrl.user.favDish}}</label><br> -->
  <!-- <label>{{myInfoCtrl.user.favItem['short_name']}}</label> -->
  <!-- <label> {{myInfoCtrl.user.favItem['short_name'] | splitStringAndNumber }}  </label> -->
  <img ng-if='myInfoCtrl.user' src="images/menu/{{myInfoCtrl.user.favItem['short_name'] | splitStringAndNumber }}/{{myInfoCtrl.user.favItem['short_name'] | splitStringAndNumber }}.jpg"><br>
  <label ng-if="myInfoCtrl.user.favItem['name']">Name: {{myInfoCtrl.user.favItem['name']}}</label><br>
  <label ng-if="myInfoCtrl.user.favItem['description']">Description: {{myInfoCtrl.user.favItem['description']}}</label><br>
  <label ng-if="myInfoCtrl.user.favItem['price_small']>0">price_small: {{myInfoCtrl.user.favItem['price_small']}}</label><br>
  <label ng-if="myInfoCtrl.user.favItem['price_large']>0">price_large: {{myInfoCtrl.user.favItem['price_large']}}</label><br>
  <label ng-if="myInfoCtrl.user.favItem['small_portion_name']">small_portion_name: {{myInfoCtrl.user.favItem['small_portion_name']}}</label><br>
  <label ng-if="myInfoCtrl.user.favItem['large_portion_name']">large_portion_name: {{myInfoCtrl.user.favItem['large_portion_name']}}</label><br>
</div>
